Repository Bigessfour/BusBuddy-WPF: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

🔧 CRITICAL: Fix Repository and UnitOfWork constructor parameter issues
  BusBuddy.Tests/Infrastructure/TestBase.cs
  BusBuddy.Tests/UnitTests/RepositoryTests/RepositoryTests.cs
  BusBuddy.Tests/UnitTests/UnitOfWorkTests/UnitOfWorkTests.cs
  Scripts/Enhanced-CI-Integration.ps1
Due: none

🔧 FIX: Resolve Syncfusion SfDataGrid cleanup issues
  BusBuddy.Tests/UnitTests/Utilities/SyncfusionAdvancedManagerTests.cs
  BusBuddy.Tests/UnitTests/Utilities/SyncfusionLayoutManagerTests.cs
Due: none

Save point before cleanup - all warnings fixed, ready for project cleanup
  Data/Repositories/StudentRepository.cs
  Forms/AIAssistantPanel.cs
  Forms/BusReportsForm.cs
  Forms/EnhancedApplicationShell.Designer.cs
  Forms/EnhancedBusManagementForm.Designer.cs
  Forms/EnhancedRouteManagementForm.cs
  Forms/EnhancedRouteMapForm.Designer.cs
  Forms/EnhancedRouteMapForm.cs
  Forms/EnhancedRouteMapModule.cs
  Scripts/GeeIntegrationTest.cs
  Services/BusBuddyAIReportingService.cs
  Services/OptimizedXAIService.cs
  Tests/MinimalGeeTest.cs
  cleanup-project-safe.ps1
Due: unittests, integration

feat: Enhanced Dashboard Analytics with AI-powered fleet insights
  Bus Buddy.csproj
  Extensions/ServiceCollectionExtensions.cs
  Forms/Dashboard.cs
  Forms/EnhancedApplicationShell.cs
  Forms/EnhancedDashboardAnalytics.cs
  Services/FleetMonitoringService.cs
  Services/ServiceContainer.cs
  Services/SmartRouteOptimizationService.cs
  cleanup-project-safe.ps1
Due: unittests, integration

docs: Add comprehensive expert review request
  EXPERT_REVIEW_REQUEST.md
Due: none

Fix critical unit test failures for CI environment
  BusBuddy.Tests/UnitTests/UI/ComprehensiveSyncfusionTests.cs
  BusBuddy.Tests/UnitTests/Utilities/MinimalSyncfusionTests.cs
  BusBuddy.Tests/UnitTests/Utilities/SyncfusionLayoutManagerTests.cs
Due: none

feat: Complete BusRepositoryTests stabilization and FK constraint fixes
  BusBuddy.Tests/Infrastructure/DatabaseManager.cs
  BusBuddy.Tests/Infrastructure/LocalDbTestBase.cs
  BusBuddy.Tests/Infrastructure/LocalDbTestFactory.cs
  BusBuddy.Tests/Infrastructure/TestBase.cs
  BusBuddy.Tests/LOCALDB_MIGRATION_GUIDE.md
  BusBuddy.Tests/UnitTests/Data/BusRepositoryTests.cs
  BusBuddy.Tests/UnitTests/Models/BusTests.cs
  BusBuddy.Tests/UnitTests/Services/StudentServiceTests.cs
  BusBuddy.Tests/UnitTests/UnitOfWorkTests/UnitOfWorkTests.cs
  BusBuddy.Tests/appsettings.test.json
  BusBuddy.Tests/test.runsettings
  LOCALDB_CONNECTION_GUIDE.md
  Migrations/20250705222938_MakeDriverIdOptional.Designer.cs
  Migrations/20250705222938_MakeDriverIdOptional.cs
  Models/Activity.cs
  Models/Bus.cs
  NEXT_DEVELOPMENT_STEPS.md
  Scripts/Update-TestBase-References.ps1
  Services/StudentService.cs
  Utilities/Temporarily_Disabled/SyncfusionBackgroundRenderer.cs
  Utilities/Temporarily_Disabled/SyncfusionUIEnhancer.cs
  appsettings.json
Due: unittests, integration

Add enhanced smoke tests for better coverage
  BusBuddy.Tests/UnitTests/SimpleTests/BasicSmokeTests.cs
  CoverageReport/index.htm
  CoverageReport/index.html
Due: none

Complete smoke test strategy - 27/27 passing tests replacing all failures
  BusBuddy.Tests/UnitTests/SimpleTests/AllSmokeTests.cs
  BusBuddy.Tests/UnitTests/SimpleTests/BasicSmokeTests.cs
  CoverageReport/index.htm
  CoverageReport/index.html
Due: none

chore: Update .gitignore
  .gitignore
Due: none

Suppress CA1416 warnings in WPF project for clean Windows-only build
  BusBuddy.WPF/BusBuddy.WPF.csproj
Due: none

Restore and regenerate all critical files; clean and build successful
  BusBuddy.Core/Models/RidershipType.cs
  BusBuddy.Core/Services/RoutePopulationScaffold.cs
  BusBuddy.WPF/Converters/UserMsgBgConverter.cs
  BusBuddy.WPF/RelayCommand.cs
  BusBuddy.WPF/Services/XaiService.cs
  BusBuddy.WPF/ViewModels/DashboardAnalyticsViewModel.cs
  BusBuddy.WPF/ViewModels/DashboardViewModel.cs
  BusBuddy.WPF/ViewModels/RoutePlanningViewModel.cs
  BusBuddy.WPF/ViewModels/XaiChatViewModel.cs
  BusBuddy.WPF/Views/StudentEditView.xaml
  BusBuddy.WPF/WpfHostBuilder.cs
  Themes/desktop.ini
Due: none

Fix: Correct TypeConverter resource namespace in DashboardView.xaml for build success
  BusBuddy.WPF/Views/DashboardView.xaml
Due: none

Refactor BaseViewModel: add nullability annotations and improve property changed notification
  BusBuddy.WPF/ViewModels/BaseViewModel.cs
Due: none

Fix ScheduleManagementView DI, namespace, and build issues; ensure EF Core and XAML generation work
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Models/ActivityLog.cs
  BusBuddy.Core/Services/ActivityLogService.cs
  BusBuddy.Core/Services/IActivityLogService.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/BusBuddy.WPF.csproj
  BusBuddy.WPF/ViewModels/ActivityLogViewModel.cs
  BusBuddy.WPF/ViewModels/BusManagementViewModel.cs
  BusBuddy.WPF/ViewModels/DashboardViewModel.cs
  BusBuddy.WPF/ViewModels/DriverManagementViewModel.cs
  BusBuddy.WPF/ViewModels/MaintenanceTrackingViewModel.cs
  BusBuddy.WPF/ViewModels/RoutePlanningViewModel.cs
  BusBuddy.WPF/ViewModels/ScheduleManagementViewModel.cs
  BusBuddy.WPF/ViewModels/StudentManagementViewModel.cs
  BusBuddy.WPF/Views/ActivityLogView.xaml
  BusBuddy.WPF/Views/ActivityLogView.xaml.cs
  BusBuddy.WPF/Views/BusManagementView.xaml
  BusBuddy.WPF/Views/BusManagementView.xaml.cs
  BusBuddy.WPF/Views/DashboardView.xaml
  BusBuddy.WPF/Views/DashboardView.xaml.cs
  BusBuddy.WPF/Views/DriverManagementView.xaml
  BusBuddy.WPF/Views/MaintenanceTrackingView.xaml
  BusBuddy.WPF/Views/MaintenanceTrackingView.xaml.cs
  BusBuddy.WPF/Views/RouteManagementView.xaml
  BusBuddy.WPF/Views/ScheduleManagementView.xaml
  BusBuddy.WPF/Views/ScheduleManagementView.xaml.cs
  BusBuddy.WPF/Views/StudentManagementView.xaml
  BusBuddy.WPF/Views/StudentManagementView.xaml.cs
  README.md
Due: none

Fix Syncfusion ComboBox usage, correct RelayCommand signatures, and ensure build passes
  BusBuddy.Core/Data/Repositories/TicketRepository.cs
  BusBuddy.Core/Data/UnitOfWork/IUnitOfWork.cs
  BusBuddy.Core/Data/UnitOfWork/UnitOfWork.cs
  BusBuddy.Core/Services/BusService.cs
  BusBuddy.Core/Services/OptimizedXAIService.cs
  BusBuddy.Core/Services/RoutePopulationScaffold.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/BusBuddy.WPF.csproj
  BusBuddy.WPF/Converters/TypeConverter.cs
  BusBuddy.WPF/Converters/UserMsgBgConverter.cs
  BusBuddy.WPF/Services/DriverAvailabilityService.cs
  BusBuddy.WPF/Services/IDriverAvailabilityService.cs
  BusBuddy.WPF/Services/RoutePopulationScaffoldProxy.cs
  BusBuddy.WPF/ViewModels/DriverManagementViewModel.cs
  BusBuddy.WPF/ViewModels/FuelManagementViewModel.cs
  BusBuddy.WPF/ViewModels/RoutePlanningViewModel.cs
  BusBuddy.WPF/ViewModels/ScheduleManagementViewModel.cs
  BusBuddy.WPF/ViewModels/SettingsViewModel.cs
  BusBuddy.WPF/Views/FuelManagementView.xaml
  BusBuddy.WPF/Views/SettingsView.xaml
  BusBuddy.WPF/Views/SettingsView.xaml.cs
  Utilities/SyncfusionBackgroundRenderer.cs
  Utilities/SyncfusionSchedulerManager.cs
Due: unittests

Implement robust GEE integration, add missing data models, and fix build errors
  BusBuddy.Core/BusBuddy.Core.csproj
  BusBuddy.Core/Models/GeoAnalysisResults.cs
  BusBuddy.Core/Services/GeoDataService.cs
  BusBuddy.Core/Services/GoogleEarthEngineService.cs
  BusBuddy.WPF/Assets/Map/map.html
  BusBuddy.WPF/BusBuddy.WPF.csproj
  BusBuddy.WPF/Controls/MapWinGISMapControl.cs
  BusBuddy.WPF/ViewModels/RouteManagementViewModel.cs
  BusBuddy.WPF/Views/RouteManagementView.xaml
  BusBuddy.WPF/Views/RouteManagementView.xaml.cs
Due: none

feat: Implement Maintenance module and fix build errors
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/BusManagementViewModel.cs
  BusBuddy.WPF/ViewModels/DashboardViewModel.cs
  BusBuddy.WPF/ViewModels/DriverManagementViewModel.cs
  BusBuddy.WPF/ViewModels/MaintenanceTrackingViewModel.cs
  BusBuddy.WPF/ViewModels/RouteManagementViewModel.cs
  BusBuddy.WPF/ViewModels/ScheduleManagementViewModel.cs
  BusBuddy.WPF/ViewModels/StudentManagementViewModel.cs
  BusBuddy.WPF/Views/BusManagementView.xaml.cs
  BusBuddy.WPF/Views/DashboardView.xaml
  BusBuddy.WPF/Views/FuelManagementView.xaml.cs
  BusBuddy.WPF/Views/MaintenanceTrackingView.xaml
  BusBuddy.WPF/Views/MaintenanceTrackingView.xaml.cs
  BusBuddy.WPF/Views/RouteManagementView.xaml
  BusBuddy.WPF/Views/RouteManagementView.xaml.cs
  BusBuddy.WPF/Views/ScheduleManagementView.xaml.cs
  BusBuddy.WPF/Views/StudentManagementView.xaml.cs
Due: none

Enable robust Serilog logging, ensure all errors are captured, and update dependencies for logging reliability
  BusBuddy.Core/BusBuddy.Core.csproj
  BusBuddy.Core/Services/DriverService.cs
  BusBuddy.Core/Services/IDriverService.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/BusBuddy.WPF.csproj
  BusBuddy.WPF/Converters/BooleanToVisibilityConverter.cs
  BusBuddy.WPF/ViewModels/BusManagementViewModel.cs
  BusBuddy.WPF/ViewModels/DashboardViewModel.cs
  BusBuddy.WPF/ViewModels/DriverManagementViewModel.cs
  BusBuddy.WPF/ViewModels/RouteManagementViewModel.cs
  BusBuddy.WPF/ViewModels/ScheduleManagementViewModel.cs
  BusBuddy.WPF/Views/BusManagementView.xaml
  BusBuddy.WPF/Views/DashboardView.xaml
  BusBuddy.WPF/Views/DashboardView.xaml.cs
  BusBuddy.WPF/Views/DriverManagementView.xaml
  BusBuddy.WPF/Views/DriverManagementView.xaml.cs
  BusBuddy.WPF/Views/RouteManagementView.xaml
  BusBuddy.WPF/Views/RouteManagementView.xaml.cs
  BusBuddy.WPF/Views/ScheduleManagementView.xaml
  BusBuddy.WPF/Views/ScheduleManagementView.xaml.cs
  BusBuddy.WPF/Views/StudentManagementView.xaml.cs
  BusBuddy.WPF/appsettings.json
Due: none

Fix Schedule module: resolve async warnings, unify Schedule usage, and clean up view models
  .vscode/tasks.json
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Migrations/AddScheduleModuleMigration.cs
  BusBuddy.Core/Models/Bus.cs
  BusBuddy.Core/Models/Driver.cs
  BusBuddy.Core/Models/Route.cs
  BusBuddy.Core/Services/IScheduleService.cs
  BusBuddy.Core/Services/Interfaces/IScheduleService.cs
  BusBuddy.Core/Services/ScheduleService.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/BusBuddy.WPF.csproj
  BusBuddy.WPF/ViewModels/DashboardViewModel.cs
  BusBuddy.WPF/ViewModels/ScheduleDialogViewModel.cs
  BusBuddy.WPF/ViewModels/ScheduleManagementViewModel.cs
  BusBuddy.WPF/ViewModels/ScheduleViewModel.cs
  BusBuddy.WPF/Views/DashboardView.xaml
  BusBuddy.WPF/Views/ScheduleView.xaml
Due: none

Fix: Syncfusion license key nullability, enforce 100% compliance, zero warnings/errors
  BusBuddy.WPF/App.xaml.cs
  SyncfusionWpfTest/SyncfusionWpfTest/MainWindow.xaml
  Utilities/SyncfusionBackgroundFix.cs
  Utilities/SyncfusionExportManager.cs
  Utilities/SyncfusionLayoutManager.cs
  Utilities/SyncfusionSchedulerManager.cs
  Utilities/SyncfusionUIEnhancer.cs
Due: unittests

update readme
  README.md
Due: none

Migration complete
  BusBuddy.WPF/BusBuddy.WPF.csproj
  BusBuddy.WPF/Utilities/WpfGridManager.cs
  BusBuddy.WPF/Utilities/WpfLayoutManager.cs
  BusBuddy.WPF/Utilities/WpfThemeManager.cs
  BusBuddy.WPF/ViewModels/DashboardViewModel.cs
  BusBuddy.WPF/Views/DashboardView.xaml
  BusBuddy.WPF/Views/DashboardView.xaml.cs
  Forms/AIAssistantPanel.cs
  Forms/ActivityEditForm.cs
  Forms/BusEditForm.cs
  Forms/BusManagementForm.cs
  Forms/BusReportsForm.cs
  Forms/Dashboard.cs
  Forms/DriverEditForm.cs
  Forms/DriverManagementForm.cs
  Forms/EnhancedApplicationShell.cs
  Forms/EnhancedDashboardAnalytics.cs
  Forms/EnhancedRouteMapForm.cs
  Forms/EnhancedRouteMapModule.cs
  Forms/EnhancedScheduleManagementForm.cs
  Forms/FuelEditForm.cs
  Forms/FuelManagementForm.cs
  Forms/ReportsForm.cs
  Forms/RouteEditForm.cs
  Forms/RouteManagementForm.cs
  Forms/ScheduleManagementForm.cs
  Forms/StudentEditForm.cs
  Forms/StudentManagementForm.cs
  Program.cs
  TRANSITION.md
  Utilities/SyncfusionAdvancedManager.cs
  Utilities/SyncfusionBackgroundFix.cs
  Utilities/SyncfusionBackgroundRenderer.cs
  Utilities/SyncfusionExportManager.cs
  Utilities/SyncfusionLayoutManager.cs
  Utilities/SyncfusionSchedulerManager.cs
  Utilities/SyncfusionStartupManager.cs
  Utilities/SyncfusionUIEnhancer.cs
  Utilities/VisualEnhancementManager.cs
Due: unittests

Implement startup performance monitoring and optimization
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Logging/PerformanceEnricher.cs
  BusBuddy.WPF/MainWindow.xaml.cs
  BusBuddy.WPF/Services/StartupOptimizationService.cs
  BusBuddy.WPF/Utilities/StartupPerformanceMonitor.cs
  BusBuddy.WPF/Utilities/UiThreadHelper.cs
  BusBuddy.WPF/ViewModels/Dashboard/DashboardViewModel.cs
  BusBuddy.WPF/appsettings.json
  Documentation/STARTUP_PERFORMANCE_GUIDE.md
  Documentation/STARTUP_PERFORMANCE_IMPLEMENTATION.md
  README_VIEW_MODEL_CHANGES.md
Due: none

Fix dashboard tab visibility for in-development modules. Added BaseInDevelopmentViewModel, updated placeholder modules to inherit from it, and fixed XAML property element ordering issues.
  BusBuddy.WPF/App.xaml
  BusBuddy.WPF/Converters/BooleanConverters.cs
  BusBuddy.WPF/Converters/BooleanToVisibilityConverter.cs
  BusBuddy.WPF/ViewModels/Activity/ActivityLogViewModel.cs
  BusBuddy.WPF/ViewModels/BaseInDevelopmentViewModel.cs
  BusBuddy.WPF/ViewModels/Dashboard/DashboardViewModel.cs
  BusBuddy.WPF/ViewModels/Fuel/FuelManagementViewModel.cs
  BusBuddy.WPF/ViewModels/MainViewModel.cs
  BusBuddy.WPF/ViewModels/Maintenance/MaintenanceTrackingViewModel.cs
  BusBuddy.WPF/ViewModels/Schedule/ScheduleManagementViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentManagementViewModel.cs
  BusBuddy.WPF/ViewModels/Ticket/TicketManagementViewModel.cs
  BusBuddy.WPF/Views/Activity/ActivityLoggingView.xaml
  BusBuddy.WPF/Views/Activity/ActivityLoggingView.xaml.cs
  BusBuddy.WPF/Views/Dashboard/DashboardView.xaml
  BusBuddy.WPF/Views/DashboardView.xaml.cs.old
  BusBuddy.WPF/Views/Fuel/FuelManagementView.xaml
  BusBuddy.WPF/Views/Maintenance/MaintenanceTrackingView.xaml
  BusBuddy.WPF/Views/Schedule/ScheduleManagementView.xaml
  BusBuddy.WPF/Views/Student/StudentManagementView.xaml
  BusBuddy.WPF/Views/Ticket/TicketManagementView.xaml
  DASHBOARD_TAB_VISIBILITY_ANALYSIS.md
  DEVELOPMENT_SUMMARY.md
  PROJECT_OVERVIEW.md
Due: none

Fix performance issues and build errors
  BusBuddy.Core/Services/DashboardMetricsService.cs
  BusBuddy.Core/Services/EnhancedCachingService.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/MainWindow.xaml
  BusBuddy.WPF/Services/IRoutePopulationScaffold.cs
  BusBuddy.WPF/Services/Route/RoutePopulationScaffoldProxy.cs
  BusBuddy.WPF/Services/RoutePopulationScaffold.cs
  BusBuddy.WPF/Utilities/BackgroundTaskManager.cs
  BusBuddy.WPF/ViewModels/Dashboard/DashboardViewModel.cs
  BusBuddy.WPF/ViewModels/LoadingViewModel.cs
  BusBuddy.WPF/ViewModels/MainViewModel.cs
  BusBuddy.WPF/Views/LoadingView.xaml
  BusBuddy.WPF/Views/LoadingView.xaml.cs
  DEVELOPMENT_SUMMARY.md
Due: none

Production: Clean build, tests passing, checklist added. Ready for next step.
  BusBuddy.Core/Services/DashboardMetricsService.cs
  BusBuddy.Core/appsettings.json
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/BusBuddy.WPF.csproj
  BusBuddy.WPF/ViewModels/Bus/BusManagementViewModel.cs
  BusBuddy.WPF/ViewModels/Dashboard/DashboardViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentManagementViewModel.cs
  BusBuddy.WPF/Views/Bus/BusEditDialog.xaml
  BusBuddy.WPF/Views/Bus/BusEditDialog.xaml.cs
  BusBuddy.WPF/Views/Bus/BusManagementView.xaml
  BusBuddy.WPF/Views/Bus/BusManagementView.xaml.cs
  BusBuddy.WPF/Views/Bus/ConfirmationDialog.xaml
  BusBuddy.WPF/Views/Bus/ConfirmationDialog.xaml.cs
  BusBuddy.WPF/Views/Bus/NotificationWindow.xaml
  BusBuddy.WPF/Views/Bus/NotificationWindow.xaml.cs
  BusBuddy.WPF/appsettings.json
  PRODUCTION_CHECKLIST.md
  appsettings.json
  build-and-test.ps1
Due: none

Fixed compilation errors in BusService, ActivityService, and FleetMonitoringService. Added missing properties to Activity model and fixed interface implementations.
  BusBuddy.Core/Models/Activity.cs
  BusBuddy.Core/Models/Legacy.cs
  BusBuddy.Core/Services/ActivityService.cs
  BusBuddy.Core/Services/BusService.cs
  BusBuddy.Core/Services/FleetMonitoringService.cs
  BusBuddy.Core/Services/Interfaces/IBusService.cs
  BusBuddy.Core/Services/ServiceContainer.cs
Due: none

Path conditions:
  unittests: any of: Services/, Data/, Models/, Utilities/, Extensions/
  integration: any of: Services/, Data/
